.map-container {
    position: relative;
    width: 100%;
    height: 500px; 
    max-height: 80vh;
  }
  
  @media (max-width: 1024px) {
    .map-container {
      height: 400px; 
    }
  }
  
  @media (max-width: 768px) {
    .map-container {
      height: 300px; 
    }
  }
  
  @media (max-width: 480px) {
    .map-container {
      height: 200px; 
    }
  }
  